<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>trick.FEED</title>
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'functions.js' %}"></script>
<link rel="icon" type="image/png" href="{% static 'icon.png' %}" />
<link rel="stylesheet" type="text/css" href="{% static  "style.css" %}" />
</head>
<body>
	<div id="headerbar">
		<ul>
			<li>
				<h3>
					<span id="title">
						<a href="/home">
							<span id="firsthalf">
								trick.
							</span>
							<span id="lasthalf">
								FEED
							</span>
						</a>
					</span>
				</h3>
			</li>
		{% if user %}
			<li>
				<a href="/myfavs">
					My Favorites
				</a>
			</li>
			<li>
				<a href="/efav">
					Edit Favorites
				</a>
			</li>
			<li>
				<a href="/bye">
					Log out
				</a>
			</li>
		{% endif %}
		{% if not user %}
			<li>
				<a href="/hello/">
					Log in
				</a>
			</li>
			<li>
				<a href="/new/">
					Register
				</a>
			</li>
		{% endif%}
		</ul>
	</div>
	<div id ="content">
		{% block content %}{% endblock %}
		{% if fail %}
		<script>
			alert("That video is already in your favorites!");
		</script>
		{% endif%}
	</div>
	<div id="overlay">
		<div id="overlay_content">
		<iframe id="ytplayer" width="720" height="480" src="http://www.youtube.com/embed/"></iframe>
		<br />
		<div id="favform">
		{% if user%}
		<div id="message" class="messagetext"></div>
		<form id="addToFav" action="/success/" method="post">
			{{ form.as_p }}
			{% csrf_token %}
			<input type="submit" value="Add To Favorites" />
		</form>
		<br />
		<form id="tweet" action="https://twitter.com" method="GET">
			<textarea id="letweet" name="status" maxlength="140">
			</textarea>
			<input type="submit" value="Tweet!" />
		</form>
		{% endif %}
		</div>
		<br />
		<button id="close">Click to Close or Press ESC</button>
		</div>
	</div>
	<div id="footer">
		<h4>&copy; 2013 <a href="http://tuss4dzigns.com" >Tuss4 Dzigns</a></h4>
	</div>
</body>
</html>
