	body {
		font-family: Arial, Verdana, Courier;
		background-color: #CCC;
	}
	a {
		color: #0066cc;
		text-decoration: none;
	}
	a:hover {
		color: #CCC;
	}
	a:visited {
		color: #0099FF;
		text-decoration: none;
	}
	#headerbar {
		left: 0;
		right: 0;
		top: 0;
		background-color: #FFF;
		position: fixed;
		text-align: left;
		padding-left: 1%;
		box-shadow: 0px 10px 5px #999;
	}
	#firsthalf {
		color: #CCC;
	}
	#lasthalf {
		color: #0066CC;
	}
	#title {
		margin-top: 20%;
		font-weight: bold;
	}
	#content {
		margin-top: 5%;
	}
	#content li {
		display: inline-block;
	}
	#footer {
		bottom: 0;
		border-top-style: solid;
		border-color: #0066CC;
		border-width: 10px;
		background-color: #fff;
		margin-top: 5%; 
		color: #000;
		text-align: center;
	}
	#overlay {
		position: fixed;
		z-index: 100;
		display: none;
		background-color: rgba(0,0,0,0.8);
		color: #FFF;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-align: center;
	}
	iframe {
		border: 0;
		max-width: 100%;
		max-height: 100%;
	}
	button {
		border: 0;
	}